form {
    width: 100%;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--branco-3);
}

form textarea {
    resize: none;
    height: 180px;
    font-family: "Roboto", sans-serif;
}

form button {
    background-color: var(--azul-1);
    border: none;
    cursor: pointer;
}

input:focus,
textarea:focus {
    outline-color: var(--azul-1);
}

.success-msg {
    color: #008000;
    background-color: var(--branco-2);
    padding: 8px;
    width: max-content;
    border-radius: 4px;
    display: none;
}

.error-msg {
    background-color: #ff0000;
    color: #fff;
    display: none;
}

input.error{
    border: 1px solid #f00;
    outline-color: #f00;
}