main {
    background: url(../../img/bg.png) top no-repeat, linear-gradient(120deg, rgba(170, 223, 241, 1) 0%, rgba(122, 209, 236, 1) 100%);
}

header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background-color: var(--branco-2);
    filter: drop-shadow(0px 3px 2px #00000013);
    z-index: 1;
}

header .container {
    padding: 16px 32px;
}

header .container,
header .container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

header .container img {
    max-height: 50px;
}

header .container ul {
    gap: 24px;
}

header ul a {
    color: var(--azul-1);
}

header ul a:hover {
    opacity: .8;
}

@media (max-width:689px) {
    main {
        background-position: left;
        background-size: cover;
    }
    header a.btn {
        display: none;
    }
}